<div class="form-group row-md-10">
<label for="sel1" class="col-sm-4 control-label ">
 Gegevens project
<span class="help-block">Bestemming:</span>
</h4></label>
<div class="col-md-6 ctr">
<span class="help-block">Selecteer type gebouw, werkomgeving of activiteit:</span>
<select class="form-control input-sm " ng-model="selected" ng-options="selected.envilonment for selected in partone">
	
</select>
</div>
</div>

<div class="form-group">
<label class="control-label col-sm-4" for="sel2"></label>
<div class="col-md-6 ctr">
<span class="help-block">Selecteer specifieke vereisten:</span>
	<select class="form-control input-sm"  ng-model="sel2" 
	ng-options="sel2.specific for sel2 in selected.requirement">
		
	</select>
	<span class="help-block">Richtwaarde lichtsterkte EN 12464-1 (Ēm):</span>
	<div class="input-group">
	<input class="form-control input-sm" type="text" placeholder="{{sel2.enlx}}" readonly>
	<div class="input-group-addon">Lx</div>
	</div>
</div>	
</div>

<div class="form-group">
<label class="control-label col-sm-4"></label>
<div class="col-md-6">
<span class="help-block">of gewenste Luxwaarde (facultatief):</span>
<div class="input-group">
	<input type="text" name="" class="form-control input-sm" ng-model="facultatief">
	<div class="input-group-addon">Lx</div>
</div>
</div>
</div>

<div class="form-group">

<label class="control-label col-sm-4">Afmetingen gebouw:
<span class="help-block">(binnenafmetingen)</span>
</label>

<div class="col-sm-2">
<span class="help-block"> Lengte L:</span>
<div class="input-group">
<input type="text" name="" class="form-control input-sm" ng-model="length">
<div class="input-group-addon">m</div>
</div>
</div>

<div class="col-sm-2">
<span class="help-block">Breedte B:</span>
<div class="input-group">
<input type="text" name="" class="form-control input-sm" ng-model="between">
<div class="input-group-addon">m</div>
</div>
</div>

<div class="col-sm-2">
<span class="help-block">Hoogte H:</span>
<div class="input-group">
<input type="text" name="" class="form-control input-sm" ng-model="height">
<div class="input-group-addon">m</div>
</div>
</div>
</div>

<div class="form-group">

<label class="control-label col-sm-4">Reflectiecoëfficiënten:
<span class="help-block">(standaardwaarden)</span>
</label>

<div class="col-sm-2">
<span class="help-block"> plafond:</span>
<input type="text" name="" class="form-control input-sm" ng-model="plofond">
</div>

<div class="col-sm-2">
<span class="help-block">muren:</span>
<input type="text" name="" class="form-control input-sm" ng-model="wall">
</div>

<div class="col-sm-2">
<span class="help-block">vloer:</span>
<input type="text" name="" class="form-control input-sm" ng-model="floor">
</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-4"></label>
	<div class="col-md-6">
	<span class="help-block">Hoogte referentievlak:</span>
	<div class="input-group">
	<input type="text" name="" ng-model="hrl" class="form-control input-sm" readonly >
	<div class="input-group-addon">m</div>
	</div>	
	</div>
</div>