
<div class="form-group">
	<label class="control-label col-sm-4">Rekenmethode:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-change="chngs1(sel1.according)" ng-model="sel1" ng-options="sel1.according for sel1 in based"></select>	
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-4">Locatie project:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-change="chngs2(sel2.capital)" ng-model="sel2" ng-options="sel2.capital for sel2 in info"></select>
	<p class="bg-success">{{en}} &#8451;</p>	
	</div>
</div>
<!-- =================================================== -->

<h4>Productselector Skylux®</h4>
<div class="form-group">
	<label class="control-label col-sm-4">Selecteer type daklicht:</label>
	<div class="col-md-6">
	<span class="help-block">Selecteer type daklicht:</span>
	<select class="form-control input-sm" ng-change="takeName(king.name)" ng-model="king" ng-options="king.name for king in products"></select>
	<img class="imgdesc col-md-4" src="resources/images/{{king.name}}.png">	
	</div>
</div>

<!-- ========================skylux bg==================================== -->

<div class="form-group">
	<div class="basename">
		<div ng-if="showwin">
	<label class="control-label col-sm-4">Selecteer materiaal:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-change="pcgl(materiaal2.materiaal)" ng-model="materiaal2" ng-options="materiaal2.materiaal for materiaal2 in king.details"></select>	
	</div>
     </div>

     <div ng-if="needed">

	<label class="control-label col-sm-4">Selecteer vorm daglichtkoepel:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-change="tkvorm(vrms.catgl)" ng-model="vrms" ng-options="vrms.catgl for vrms in flt"></select>	
	</div>

	<label class="control-label col-sm-4">Selecteer materiaal daglichtkoepel:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-change="mtopl(mtrl.materiaal)" ng-model="mtrl" ng-options="mtrl.materiaal for mtrl in vrms.desc"></select>	
	</div>

	<label class="control-label col-sm-4">Selecteer type daglichtkoepel:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-model="type" ng-change="passtyp(type.typs)" ng-options="type.typs
      for type in mtrl.info"></select>	
	</div>

	<div ng-show="out">
	<label class="control-label col-sm-4">Selecteer uitvoering:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-change="uitv(count.uitvoering)" ng-model="count" ng-options="count.uitvoering for count in type.counting"></select>	
	</div>
</div>

</div>
</div>
</div>

<!-- ===================================================================== -->
<!-- =============================skylx window============================= -->
<!-- ================================endof skywin================== -->


<div class="form-group" ng-if="showclich">
	<div class="basename">
	<label class="control-label col-sm-4">Selecteer materiaal:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-change="bringobj(clich.materiaal)" ng-model="clich" ng-options="clich.materiaal for clich in king.cintralux"></select>	
	</div>

	<label class="control-label col-sm-4">Selecteer vorm daglichtkoepel:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-change="cintrtyp(clichinfo.types)"  ng-model="clichinfo" ng-options="clichinfo.types for clichinfo in clich.info"></select>	
	</div>
    <div ng-show="sml" >
	<label class="control-label col-sm-4">Selecteer materiaal daglichtkoepel:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-change="cintruitv(count.uitvoering)" ng-model="count" ng-options="count.uitvoering for count in clichinfo.counting"></select>	
	</div>
</div>
</div>
</div>

<!-- ======================cintra======================================== -->


<div class="form-group">
	<label class="control-label col-sm-4"></label>
	<div class="col-md-6">
	<span class="help-block">lichttransmissie volgens EN 410:</span>
	<input type="text" name="" readonly="true" class="form-control input-sm" placeholder="{{totalNum}}">	
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-4"></label>
	<div class="col-md-6">
	<span class="help-block">Onderhoudsfactor MF:</span>
	<input type="text" name="" class="form-control input-sm" placeholder="{{factor}}">
	<input class="form-control input-sm" id="disabledInput" type="text" readonly="true" placeholder="standaard  = 0,7">	
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-4"></label>
	<div class="col-md-6">
	<span class="help-block">ot. opp. nodig voor 300 Lx:</span>
	<div class="input-group">
	<input type="text" name="" class="form-control input-sm" placeholder="{{m2}}">
	<div class="input-group-addon">Lx</div>
	</div>
	<p class="bg-success">{{perct}}</p>
		
	</div>
</div>

<!-- =====================mesures=========================== -->

<div class="form-group" ng-if="!show" ng-hide="showclich">
	<label class="control-label col-sm-4">Selecteer type daklicht:</label>
	<div class="col-md-6">
	<span class="help-block">selecteer lichtmaat:  cm</span>
	<select  class="form-control input-sm" ng-model="mainm" ng-change="real_nums(mainm.dagmaten)" ng-options="mainm.dagmaten for mainm in king.dagmaten"></select>
	<input type="text" name="" class="form-control input-sm" readonly="true" placeholder="{{ppam2}}" >	
	</div>
</div>

<div class="form-group" ng-if="show">
	<div class="basename">

	<label class="control-label col-sm-4">Selecteer vorm dakopening:</label>
	<div class="col-md-6">
	<span class="help-block">selecteer lichtmaat:</span>
	<select class="form-control input-sm" ng-model="msrs" ng-options="msrs.shape for msrs in _1vmesures"></select>	
	</div>

	<label class="control-label col-sm-4">Selecteer uitvoering:</label>
	<div class="col-md-6">
	<select class="form-control input-sm" ng-change="real_nums(dgm.dagmaten)" ng-model="dgm" ng-options="dgm.dagmaten for dgm in msrs.dagmaten"></select>	
	<input type="text" name="" class="form-control input-sm" readonly="true" placeholder="{{ppam2}}">
	</div>
</div>
</div>

<!-- ========================================================= -->

<div class="form-group" ng-hide="showclich">
<label class="control-label col-sm-4"></label>
<div class="col-md-6">
<div class="input-group">
	<input type="text" name="" class="form-control input-sm" placeholder="{{stuck}}">
	<div class="input-group-addon">Stuker</div>
	</div>
	<input type="text" name="" class="form-control input-sm" readonly="true" placeholder="{{stkm2}}">
</div>
	
</div>
	<button type="submit" class="btn btn-sm">DONNE</button>
