.input-group-addon{
	background-color: blue;
	color: white;
}

button{
	background-color: #cddc39;
	color: #fff;
	margin-left: 50%;
}

.myform{
	height:25%;
	margin-top: 6%;
}
hr{
	height: 2px;
	background-color: blue;
	width: 83%;
	margin-top: -4px;
	background-color: #cddc39;
}

.hd{
	
	margin-top: 40px;

}
.title{
	margin-left:100px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
    color: #7FDBFF;
}
.input-group-addon{
	background-color: #cddc39;
}

.logo{
	margin-left: 48%;
}
.lft{
	margin-right: 20px;
}
.basename select{
	position: relative;
	margin-top: 2px;
}
.imgdesc{
	margin-top: 2px;
	margin-left:22%;
}